/* navbar-section */
.nav-profile{
    position: relative;
    top: 10px;
    margin-right: 20px;
}


.nav-profile-img{
    border-radius: 50%;
}

.nav-profile a{
    margin-left: 20px;
    position: relative;
    bottom: 10px;
}

/* quote-section */
.quote {
    margin: 20px 0 0 20px;
}

/* categories section */
.categories{
    margin: 20px 0 0 20px;
}
.categories h2{
    margin-bottom: 20px;
}